.margin-y {
    margin-bottom: 4rem;
    margin-top: 3rem;
}

.container-width {
    width: 18rem !important;
}

.row-container button {
    border: none;
}

.row-item-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-item-height {
    height: 6rem ;
}

.border-bottom {
    border-bottom: 2px solid white !important;
}

.border-right {
    border-right: 2px solid white !important;
}

.click-disable {
    pointer-events: none;
}

.box-color-blue {
    background-color: #0DCAF0;
}

.box-color-red {
    background-color: #DC3545;
}

.box-rotate {
    animation: boxRotate 2s ease-in-out;
}

@keyframes boxRotate {
    0% {
        transform: rotateY(0deg)
    }

    50% {
        transform: rotateY(180deg)
    }

    100% {
        transform: rotateY(360deg)
    }
}
